!!!
html(ng-app='DarkStackMachine')
  head
    meta(charset='utf-8')
    title Dark

    link(rel='stylesheet', href='style.css')

  body(ng-controller='VirtualMachineController')
      header
        h1 DARK Stack Machine

      section
        textarea#code(ng-model='code', placeholder='Paste DARK Assembly code here')

        button.blue(ng-click='loadCode()') Load code

        table
          tr
            td Stack
            td {{stack}}

          tr
            td PC
            td {{currentInstruction}}

          tr
            td Finished
            td {{finishedRunning}}


      section
        #controls
          button(ng-disabled='instructions.length==0').green(ng-click='executeSingle()') One step
          button(ng-disabled='instructions.length==0').green(ng-click='executeAll()') Execute all
          button.red(ng-click='pause()') Pause execution

        p(ng-show='instructions.length == 0')
          em No instructions available.
        ol#instructions
          li(ng-repeat='instruction in instructions', ng-class='{current: currentInstruction == $index}')
            span {{instruction}}

      script(src='angular.min.js')
      script(src='build.js')
