@import 'nib/reset'
@import 'nib/vendor'

global-reset()

*
  box-sizing border-box
  font-smoothing antialiased

$font-family = Menlo, monospace

body
  font-family $font-family
  color #444
  padding 20px
  line-height 1.6
  font-size 18px

header
  padding 20px

h1
  font-size 24px
  font-weight 700

h2
  font-size 20px
  font-weight 700

section
  float left
  width 50%
  padding 20px
  height 100%

#instructions
  li
    background #eee
    border-bottom 1px solid #ccc
    font-size 14px
    padding 5px

    &.current
      color red
      background #fff

#controls
  clear both

textarea
  width 100%
  display block
  font-size 16px
  height 300px
  font-family $font-family
  padding 15px
  outline none
  border 2px solid #aaa
  border-radius 5px
  margin-bottom 15px

button
  font-size 16px
  border 0
  background #555
  color #fff
  cursor pointer
  font-family $font-family
  outline none
  padding 10px 20px
  font-weight 700
  border-radius 5px
  margin-bottom 15px

  &:hover
    opacity .9

.green
  background #27ae60

.red
  background #e74c3c

.blue
  background #2980b9

table
  width 640px
  border-collapse collapse

  td
    border 1px solid #ddd
    padding 5px 10px
