html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: Menlo, monospace;
  color: #444;
  padding: 20px;
  line-height: 1.6;
  font-size: 18px;
}
header {
  padding: 20px;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
section {
  float: left;
  width: 50%;
  padding: 20px;
  background: #f00;
  height: 100%;
}
#instructions li {
  padding: 5px;
  background: #eee;
  border-bottom: 1px solid #ccc;
}
#instructions li span.current {
  color: #f00;
}
#controls {
  clear: both;
}
textarea {
  width: 100%;
  display: block;
  font-size: 16px;
  height: 300px;
  font-family: Menlo, monospace;
  padding: 10px;
}
button {
  font-size: 16px;
  border: 0;
  background: #555;
  color: #fff;
  cursor: pointer;
  font-family: Menlo, monospace;
  outline: none;
  padding: 10px;
  font-weight: 700;
}
table {
  width: 640px;
  border-collapse: collapse;
}
table td {
  border: 1px solid #ddd;
  padding: 5px 10px;
}

